@{
    ViewBag.Title = "chirper ~ Home";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-10" >
            <h1>chirper.</h1>
            <p class="lead">Completely original. Probably.</p>
        </div>

        @* Float second column right, offset margins to accomodate for jumbotron class margins *@
        <div class="col-md-2" style="float:right; margin-top: -30px; margin-bottom: -40px">
            <img src='@Url.Content("~/Content/icon-bird-bubble.png")' style="height: 216px;" />
        </div>
    </div>    
</div>

<div class="row" style="margin-left: 0px; margin-right: 0px;">
   
    @if (User.Identity.IsAuthenticated)
    {
        <a href='@Url.Action("Index", "Cheeps")'>
            <div class="col-md-5 home-button-link" style="float: left; text-align: center; border: outset; border-width: 2px; border-color: #eeeeee; border-radius: 10px;">
                <h1>cheeps.</h1>
                <h3>
                    Post a cheep
                </h3>
            </div>
        </a>
        @*
        <a href='@Url.Action("Index", "Friends")'>
            <div class="col-md-5 home-button-link" style="float: right; text-align: center; border: outset;  border-width: 2px; border-color: #eeeeee; border-radius: 10px;">
                <h1>friends.</h1>
                <h3>
                    Find friends
                </h3>
            </div>
        </a>*@
    }
    
    else
    {
        <h1> You must be logged in to use this service.</h1>
    }
    
</div>