@model IEnumerable<Chirper.Models.AspNetUser>

@{
    ViewBag.Title = "friends ~ Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>friends.</h2>

<p>
    @*Html.ActionLink("Send New Friend Request", "SendFriendRequest")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            <span style="float: right;">Options</span>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            <span style="float: right;">
                @Html.ActionLink("Cheeps", "Cheeps", "Friends", new { id = item.Id }, null) |
                @*Html.ActionLink("Delete", "Delete", new { id = item.Id }, null)*@
            </span>                 
        </td>
    </tr>
}

</table>
